<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.sinso.dataland.mapper.ScanConfigMapper">

    <select id="getRandKey" resultType="java.lang.String">
        select api_key from co_scan_config where key_lock_at &lt;= #{keyLockAt}order by rand() LIMIT 1
    </select>
</mapper>
